uf2/flows.json
[{"id":"398ffc4b.7f90a4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"79686645.807ae8","type":"serial in","z":"398ffc4b.7f90a4","name":"COM5","serial":"39ced1cf.f8ca6e","x":170,"y":100,"wires":[["912ecfa4.01bcb"]]},{"id":"912ecfa4.01bcb","type":"debug","z":"398ffc4b.7f90a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]},{"id":"de20b86c.eeaa58","type":"serial out","z":"398ffc4b.7f90a4","name":"","serial":"39ced1cf.f8ca6e","x":630,"y":160,"wires":[]},{"id":"2f9048c2.0ca128","type":"inject","z":"398ffc4b.7f90a4","name":"print(\"hello pico!\")","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"print(\"hello pico!\")","payloadType":"str","x":200,"y":160,"wires":[["2abbcf18.90ea"]]},{"id":"11b1a3c0.f0a5cc","type":"inject","z":"398ffc4b.7f90a4","name":"pico code path","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C:\\Users\\cotaa\\Documents\\Pico\\uf2\\sketches\\blink\\main.py","payloadType":"str","x":220,"y":340,"wires":[["bfbb3f27.afbe9"]]},{"id":"bfbb3f27.afbe9","type":"exec","z":"398ffc4b.7f90a4","command":"python C:\\Users\\cotaa\\Documents\\Pico\\uf2\\REPL.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"REPL.py","x":420,"y":340,"wires":[["8177476a.b18de8","57163a22.a29944"],["8177476a.b18de8"],["8177476a.b18de8"]]},{"id":"8177476a.b18de8","type":"debug","z":"398ffc4b.7f90a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"2abbcf18.90ea","type":"function","z":"398ffc4b.7f90a4","name":"","func":"node.send({ payload: msg.payload + \"\\r\\n\" })","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["de20b86c.eeaa58"]]},{"id":"52690439.32000c","type":"serial out","z":"398ffc4b.7f90a4","name":"","serial":"39ced1cf.f8ca6e","x":810,"y":340,"wires":[]},{"id":"57163a22.a29944","type":"function","z":"398ffc4b.7f90a4","name":"","func":"node.send({ payload: msg.payload + \"\\r\\n\" })","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":340,"wires":[["6a9509e3.1bcf88","52690439.32000c"]]},{"id":"6a9509e3.1bcf88","type":"debug","z":"398ffc4b.7f90a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"6f0d8a3.5048174","type":"inject","z":"398ffc4b.7f90a4","name":" ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":170,"y":200,"wires":[["2abbcf18.90ea"]]},{"id":"ada22877.134308","type":"inject","z":"398ffc4b.7f90a4","name":"\"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"","payloadType":"str","x":170,"y":240,"wires":[["2abbcf18.90ea"]]},{"id":"39ced1cf.f8ca6e","type":"serial-port","serialport":"COM5","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"high","rts":"high","cts":"high","dsr":"high","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]